<router-outlet></router-outlet>
<!-- <app-side-bar
  [isExpanded]="sidebarExpanded"
  (toggleSiderBar)="sidebarExpanded = !sidebarExpanded"
></app-side-bar>
<div class="student-record" [ngClass]="{ sidebarExpanded: sidebarExpanded }">
  <router-outlet></router-outlet>
</div> -->
